{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TaskMaster</title>
        <link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">

    </head>
    <body>
        <nav>
            <img src="logo.png" alt="Logo">
        </nav>
        <div class="container">
            <h1 id="Username"></h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Encabezado 1</th>
                            <th>Encabezado 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dato 1</td>
                            <td>Dato 2</td>
                        </tr>

                    </tbody>
                </table>
                <table>
                    <!-- Tabla 2 -->
                </table>
                <table>
                    <!-- Tabla 3 -->
                </table>
            </div>
        </div>
    </body>
</html>
<script>
    window.getCookie = function(name) {
    var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
    }
    
    
    const JWTTOKEN = getCookie('JWT');
    
    document.addEventListener('DOMContentLoaded', function() {
        fetch("{% url 'Data' %}", {
            method: 'GET',
            headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + JWTTOKEN
            }
        })
        .then(response => response.json())
        .then(data => {
            const dataUser = data.datos_usuario;
            console.log(dataUser.username);
            const elementoUsername = document.getElementById("Username");
            elementoUsername.textContent = "Hola " + dataUser.username + " Bienvenido";
        })
        .catch(error=>{
            console.log(error);
        });
    });
    

</script>