{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="card">
            <form action="" method="POST" id="form">
              {% csrf_token %}
                <h1>Iniciar Sesion</h1>
                {{form}}
                <button class="button" type="submit">Login</button>
            </form> 
            <h5>¿No tienes una cuenta? <a href="{% url 'Sign-In' %}">Crear</a></h5>
            </div>
        </div>
    </body>
</html>
<script>
        const form = document.getElementById('form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const data = {
            'username': formData.get('usuario'),
            'password': formData.get('contrasena'),
            };

            const jsonData = JSON.stringify(data)
            try {
                const response = await fetch("{% url 'InicioSesion' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: jsonData
                });

                if (!response.ok) {
                    throw new Error('Error al enviar los datos al servidor');
                } else{
                    const responseData = await response.json();

                    localStorage.setItem('token',responseData.token);
                    window.location.href = "{% url 'Home' %}";

                }

            } catch (error) {
                console.error('Error:', error);
            }
        });
</script>
<!--https://codepen.io/1bbnuuu/pen/rNPqQbe-->